language: java

jdk:
  - openjdk8

env:
  global:
    - PATH="$PATH:/usr/lib/dart/bin"
    # Encrypted `NPM_TOKEN` variable to enable JS publishing.
    - secure: kvg85udsH9a515YPHTh87LfyZhkL41HSvz4x+Q2OPoB9R3Irf+6HuaQCWSNNfPXIeqQefK+WuEG/kDBPOmm/JO7jVzMnt3p3mroDIYxod1uyea1sVlM+Jv23qe9J1txh0YsI9s0mrOJy/7X3IGBwpiGZGSM54J4l/mMheIG1GCmXp9abrkkkzzXKD8cn6p2P4/qoDF65SIe+GgHmhHJjxOCioIEwTlHd5UQxzkomCKMxPIzh15f4CppVbpVDSELcl8F9PLiS3zH3YOiBITMVA5IW6DHMbzipMQzBAzzAAFLnmkt30apqandsZzlIHJFKzNdlZrWcIrsiWTEqy9kYuvr6bszWtRjdDDu/GpaVytTlXquYE3u8vlpK5ngR0w2CTu0RQRPWli4zJ/bH81Ps9eNa8LVRTr3Og2ebUoibWk5YKksxSOedBUPu4HXs/v2CPxBfLwPnKd1OKgZK7O5/NtDHeoJLp+0jSXp6GpTybYY3WesB4YAz++DXGkcYha0isUvtM3LuDiHduFvWlB3JMgsq0MJ5WiWZMTDxJsXhK8tQvRfKxvkBiiigHQ5PvumOva/7xzy8GoZybQrh5m6j8SJcdNcbabLrkCl0yv0fMgrF5+aIhNMAU04FruSKH5k59SqKQwuyi7++Om8/NEuJfzZJ2YtF5AHwlIXv5gyygOk=

before_install:
  # Required to update `apt-get`. See https://docs.travis-ci.com/user/installing-dependencies/
  - sudo apt-get install -y libxml2-dev
  - sudo apt-get update
  # Required to install Dart. See https://dart.dev/get-dart
  - sudo apt-get install apt-transport-https
  - sudo sh -c 'curl https://dl-ssl.google.com/linux/linux_signing_key.pub | apt-key add -'
  - sudo sh -c 'curl https://storage.googleapis.com/download.dartlang.org/linux/debian/dart_stable.list > /etc/apt/sources.list.d/dart_stable.list'

  - chmod +x gradlew

  # Upgrade the `npm` version shipped with Travis to the latest.
  - npm install -g npm@latest

  # Decrypt and unarchive credentials for:
  #  - Maven repositories;
  #  - Google service account;
  #  - Google account for publishing Pub packages.
  - openssl aes-256-cbc -K $encrypted_676141212ed2_key -iv $encrypted_676141212ed2_iv -in credentials.tar.enc -out credentials.tar -d
  - tar xvf credentials.tar
  - mkdir ./integration-tests/test-app/src/main/resources/
  - mv ./spine-dev.json ./integration-tests/test-app/src/main/resources
  - mkdir $HOME/.pub-cache/
  - mv ./pub-credentials.jsonv $HOME/.pub-cache/

install:
  - sudo apt-get update
  - sudo apt-get install dart
  - pub global activate protoc_plugin

script:
  - ./gradlew check --stacktrace

  # Run integration tests of `spine-web` library.
  - ./gradlew :js-tests:integrationTest

  # The publishing script should be executed in `script` section in order to
  # fail the Travis build if execution of this script is failed.
  - chmod +x ./config/scripts/publish-artifacts.sh
  - ./config/scripts/publish-artifacts.sh

after_success:
  - bash <(curl -s https://codecov.io/bash)
