{
  "extends": "../.babelrc",
  "plugins": [
    ["module-resolver", {
      "cwd": "babelrc",
      "alias": {
        "@proto": "../main/proto",
        "@testProto": "./proto",
        "@lib": "./../main"
      }
    }]
  ]
}
