{
  "presets": [
    "@babel/preset-env"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    [
      "module-resolver",
      {
        "cwd": "babelrc",
        "alias": {
          "@testProto": "./test/proto",
          "@lib": "spine-web"
        }
      }
    ]
  ]
}
