{
  "presets": ["env"],
  "plugins": [
    ["babel-plugin-transform-builtin-extend", {
      "globals": ["Error"]
    }],
    ["module-resolver", {
      "cwd": "babelrc",
      "alias": {
        "spine-web-client": "./main",
        "@proto": "./proto/main/js",
        "@testProto": "./proto/test/js",
        "@lib": "./main"
      }
    }]
  ]
}
